<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="auth/tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Test para Autenticacion">
            <directory>./auth/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./auth/tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
