<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">

    <testsuites>
        <testsuite name="Test para Autenticacion_B">
            <directory>./auth/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./auth</directory>
            <exclude>
                <directory>./auth/tests</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
